<html>
    <head>
        <title>Statement Template</title>
    </html>
    <body>
        <form method="post">
            <label for="name">Name:</label>
            <input type="number" id="name" name="number"><br><br>
            <input type="submit" value="Check">
        </form>
        {% if result %}
            <h2>{{ result }}</h2>
            <h3>Numbers from 1 to your input: </h3>
            <ul>
                {% for num in numbers %}
                    <li>{{ num }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>